.body{
    background-color:bisque;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
}

.body1{
    display:flex;
}

*{
    overflow-x: hidden;
    margin:0;
    padding:0
}